/* -------------------- */
/* Custom properties    */
/* -------------------- */

:root {

	/* font-sizes */
	--fs-100: 1.1rem;
	--fs-200: 1.2rem;
	--fs-300: 1.3rem;
	--fs-350: 1.4rem;
	--fs-400: 1.6rem;
	--fs-500: 1.7rem;
	--fs-600: 1.8rem;
	--fs-800: 2rem;
	--fs-850: 2.5rem;
	--fs-900: 3rem;

	/* font-families */
	--ff-sans: 'Helvetica', 'Arial', sans-serif;

	/* colors */
	--c-dark-900: 0, 0%, 0%;
	--c-dark-800: 0, 0%, 20%;
	--c-dark-400: 0, 0%, 40%;
	--c-dark-300: 0, 0%, 50%;
	--c-dark-200: 0, 0%, 65%;
	--c-dark-100: 0, 0%, 80%;

	--c-white: 0, 0%, 100%;

	--c-tud: 198, 100%, 21%;
	--c-tud-light: 198, 64%, 80%;

	--footer-height: 3rem;
	--max-desktop-width: 130rem;

	--desktop-table-border: 1px solid hsl(var(--c-dark-100));
}


/* -------------------- */
/* Generic  classes     */
/* -------------------- */


/* -------------------- */
/* Reset                */
/* -------------------- */

*,
*::before,
*::after {
	box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
section,
img {
	margin: 0;
	padding: 0;
	font-weight: inherit;
	font-size: inherit;
	font-family: inherit;
}

body {
	line-height: 1.5;
	min-height: 100vh;
	background-color: hsl(0, 0%, 100%);
}

input,
button,
textarea,
select {
	font: inherit;
	padding: 0;
	margin: 0;
	border: none;
	color: inherit;
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

img {
	width: 100%;
	display: block;
}

/* remove animations for people who have turned them off */
@media (prefers-reduced-motion: reduce) {

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}


/* rem scaling */
html {
	font-size: 62.5%;
}


/* -------------------- */
/* Main styles          */
/* -------------------- */

::-webkit-scrollbar {
	width: 20px;
}

::-webkit-scrollbar-track {
	background-color: hsl(var(--c-white));
	border-radius: 0.6rem;
}

::-webkit-scrollbar-thumb {
	background-color: hsl(var(--c-tud));
	border-radius: 1000px;
	border: 5px solid hsl(var(--c-white));
}

@supports(scrollbar-color: red blue){
	*{
		scrollbar-color: hsl(var(--c-tud)) hsl(var(--c-white));
		scrollbar-width: thin;
	}
}


.inner-body {
	font-family: var(--ff-sans);
	font-size: var(--fs-400);
	color: hsl(var(--c-dark-800));
	font-weight: 400;

	padding: min(6%, 2rem);
}

header {
	display: flex;
	justify-content: center;
}

.header-wrapper {
	display: flex;
	align-items: center;
	gap: 2rem;
	width: 100%;
	max-width: var(--max-desktop-width);
}

.logo {
	max-width: 7rem;
}

.search {
	position: relative;

	min-width: min(70%, 20rem);
	z-index: 10;
}

.search-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	padding: 0.5rem 1rem;
	border: 1px solid hsl(var(--c-dark-900));
	border-radius: 0.6rem;
	background-color: hsl(var(--c-white));
}

.search-bar input {
	font-size: var(--fs-600);
	letter-spacing: 0.04rem;
	font-weight: 700;
	width: 100%;
	margin-right: 0.7rem;
	background-color: hsl(var(--c-white));
}

.search.selected .search-bar {
	border-bottom-color: hsl(var(--c-white));
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.search.selected .search-bar input {
	font-weight: 400;
}

.search-bar input::placeholder {
	font-weight: 400;
}

input[type='search']::-webkit-search-cancel-button {
	display: none;
}

.search-results {
	display: none;
	position: absolute;
	left: 0;
	right: 0;
	z-index: -1;

	max-height: 40rem;

	padding: 0 1rem;
	background-color: hsl(var(--c-white));
	border-radius: 0.6rem;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	border: 1px solid hsl(var(--c-dark-900));
	border-top: none;

	overflow-y: auto;
}

.search.selected .search-results {
	display: block;
}

.search-results-wrapper {
	padding: 1rem;
	padding-top: 0;
	border-top: 1px solid hsl(var(--c-dark-900));
	
	
}

.search-results-wrapper .search-result-button {
	display: block;
	width: 100%;
	text-align: left;
	background-color: transparent;
	padding: 1rem 1rem;
}

.search-results-wrapper>.search-result-button:hover {
	background-color: hsla(var(--c-tud-light), 0.2);
}

.search-results-wrapper>*:not(:last-child) {
	border-bottom: 1px solid hsl(var(--c-dark-200));
}

main {
	padding-top: 2.5rem;
}

.mobile-timetable-days .mobile-day:not(:last-child) {
	margin-bottom: 7rem;
}

.mobile-timetable-days .mobile-day.empty {
	margin-bottom: 3rem;
}

.mobile-day-heading .weekday {
	font-size: var(--fs-900);
	font-weight: 700;
	line-height: 3.7rem;
}

.mobile-day.empty .mobile-day-heading .weekday {
	color: hsl(var(--c-dark-300));
}

.mobile-day-heading .date {
	font-size: var(--fs-500);
	color: hsl(var(--c-dark-200));
	line-height: 2.2rem;
}

.mobile-no-lessons {
	color: hsl(var(--c-dark-200));
	font-size: var(--fs-400);
	font-weight: 700;
	margin-top: 0.3rem;
}

.mobile-day-lessons {
	display: flex;
	flex-direction: column;
	gap: 4rem;

	padding-top: 1.5rem;
}

.mobile-lesson {
	display: grid;
	grid-template-columns: 5rem minmax(0, 1fr);
	grid-column-gap: 1rem;
	grid-row-gap: 1rem;

	overflow-wrap: break-word;
}

.mobile-lesson .lesson-type {
	grid-column-start: 2;
	width: fit-content;

	font-size: var(--fs-200);
	color: hsl(var(--c-white));
	padding: 0.2rem 1rem;
	border-radius: 1000px;

	background-color: hsl(var(--type-color));
	box-shadow: 0 0.15rem 0.5rem 0 hsl(var(--type-color));
}

.mobile-lesson .times {
	justify-self: end;
	text-align: end;
}

.mobile-lesson .times p:nth-child(1) {
	font-weight: 700;
	line-height: 2rem;
}

.mobile-lesson .times p:nth-child(2) {
	font-size: var(--fs-300);
	color: hsl(var(--c-dark-200));
	line-height: 1.2rem;
}

.mobile-lesson .lesson-heading {
	font-weight: 700;
	font-size: var(--fs-600);
	line-height: 2rem;
}

.mobile-lesson .lesson-long-name {
	font-size: var(--fs-300);
	color: hsl(var(--c-dark-400));
	word-break: break-all;
	line-height: 1.8rem;
}

.mobile-lesson .lesson-room {
	display: flex;

	line-height: 2rem;
	margin-top: 1rem;
	font-weight: 600;
}

.mobile-lesson .lesson-detailed-room {
	font-size: var(--fs-300);
	color: hsl(var(--c-dark-400));
	word-break: break-all;
	line-height: 1.8rem;
}

main {
	margin-bottom: var(--footer-height);
}

.mobile-message-wraper{
	display: flex;
	justify-content: center;
	align-items: center;
}

.mobile-message{
	width: 5rem;
	height: 5rem;
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	gap: 2rem;
	z-index: 1000;

	font-size: var(--fs-200);
	color: hsl(var(--c-dark-200));
	border-top: 1px solid hsl(var(--c-dark-200));
	bottom: 0;
	left: 0;
	width: 100%;
	background: hsl(var(--c-white));
	height: var(--footer-height);
}

.about-page .header-wrapper{
	gap: 3rem;
}

.about-page h2{
	font-size: var(--fs-850);
	line-height: 0.4rem;
	font-weight: 700;
}

.about-page main{
	flex-direction: column;
	justify-content: start;
	align-items: center;
	padding: 2rem;
}

.about-text-container{
	display: flex;
	flex-direction: column;
	gap: 2rem;
	max-width: 80rem;
}

.about-page a{
	color: hsl(var(--c-tud), 0.9);
	text-decoration: underline;
}

/* -------------------- */
/* Desktop styles       */
/* -------------------- */

.desktop-timetable {
	display: grid;
	grid-template-rows: min-content minmax(0, 1fr);

	height: 100%;
	max-width: var(--max-desktop-width);
	width: 100%;
	border: 1px solid hsl(var(--c-dark-900));
	border-radius: 0.6rem;
	overflow: hidden;
}

.desktop-table-bar-top {
	display: flex;
	align-items: center;

	font-size: var(--fs-400);
	padding: 0.5rem 2rem;
	border-bottom: var(--desktop-table-border);
}

.to-today{
	padding: 0.2rem 1rem;
	border-radius: 5px;
	margin-right: 0.5rem;
}

.to-today:hover{
	background-color: hsl(var(--c-dark-100), 0.5);
}

.to-today:active{
	background-color: hsl(var(--c-dark-100), 0.9);
}

.reset-button{
	padding: 0.2rem;
	border-radius: 5px;
	margin-right: 2rem;
}

.reset-button:hover{
	background-color: hsl(var(--c-dark-100), 0.5);
}

.reset-button:active{
	background-color: hsl(var(--c-dark-100), 0.9);
}

.desktop-change-week-buttons{
	display: flex;
	align-items: center;
	gap: 0.4rem;
	margin-right: 2rem;
}

.desktop-change-week-buttons > *{
	border-radius: 5px;
	padding: 0.5rem;
	max-width: 2.5rem;
}

.desktop-change-week-buttons > *:hover{
	background-color: hsl(var(--c-dark-100), 0.5);
}

.desktop-change-week-buttons > *:active{
	background-color: hsl(var(--c-dark-100), 0.9);
}

.desktop-table-bar-top-date-wrapper{
	min-width: 28rem;
}

.desktop-cur-week-info {
	display: flex;
}

.desktop-weeks-dropdown {
	position: absolute;
	display: none;

	background-color: grey;
}

.desktop-table-bar-top-week[aria-expanded="true"] .desktop-weeks-dropdown {
	display: block;
}

.desktop-table-main {
	display: flex;
	flex-direction: column;
	height: 100%;

	opacity: 1;
	transition: 0.4s opacity;
}

.desktop-timetable.pending .desktop-table-main{
	opacity: 0.5;
}

.desktop-table-times {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	text-align: center;

	height: 100%;
	font-weight: 700;
	padding: 0 1rem;
}

.desktop-table-weekdays {
	flex-shrink: 0;
	display: grid;
	position: sticky;
	top: 0;

	background-color: hsl(var(--c-white));
	border-bottom: var(--desktop-table-border);
}

.desktop-table-weekday {
	position: relative;
	font-weight: 700;
	border-left: var(--desktop-table-border);
	text-align: center;
	padding: 0.5rem 0;
}

.desktop-table-weekday.today{
	background-color: hsl(var(--c-tud-light), 0.2);
}

.desktop-table-weekday.today::before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: clamp(0.1rem, 10%, 0.3rem);
	width: 100%;
	background-color: hsl(var(--c-tud));
}

.desktop-table-weekdays > *:last-child {
	border: none;
}

.desktop-table-weekdays > *:nth-last-child(2){
	border-right: var(--desktop-table-border);
}

.desktop-table-scrollable {
	flex-grow: 1;
	overflow-y: auto;
	height: 100%;
}

.desktop-table-scrollable-inner {
	display: grid;
	grid-template-columns: min-content 1fr;

	height: 100%;
}

.desktop-timeline{
	position: relative;
	border-top: 1px solid hsl(var(--c-tud), 0.9);
}

.desktop-timeline > *{
	position: absolute;
	top: -0.5px;
	left: 0;
	width: 100%;
	z-index: 100;
	border-top: 1px solid hsl(var(--c-tud), 0.4);
}

.desktop-timeline::before{
	content: "";
	position: absolute;
	z-index: 300;
	width: 0.7rem;
	height: 0.7rem;
	top: 0;
	left: 0;
	transform: translateX(-50%) translateY(-50%);
	background-color: hsl(var(--c-tud));
	border-radius: 50%;
}

.desktop-lessons-wrapper {
	display: grid;
	height: 100%;
}

.desktop-lessons-wrapper > * {
	grid-column: 1;
	grid-row: 1;
}

.desktop-message-wrapper{
	display: flex;
	justify-content: center;

	width: 100%;
	height: 100%;
}

.desktop-message{
	position: relative;
	z-index: 300;
	margin-top: 10rem;
	width: 15rem;
	height: 15rem;
}

.horizontal-line {
	height: 0;
	width: 100%;
	border-bottom: var(--desktop-table-border);
}

.desktop-lessons {
	display: grid;
	grid-auto-columns: minmax(0, 1fr);
}

.desktop-lessons > *:last-child {
	border-right: var(--desktop-table-border);
}

.desktop-table-day {
	position: relative;
	border-left: var(--desktop-table-border);
}

.desktop-table-day.today::after{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 60;
	pointer-events: none;
	background-color: hsl(var(--c-tud-light), 0.2);
}

.desktop-lessons-container {
	display: flex;
}

.desktop-lessons-container > :not(:last-child){
	border-right: var(--desktop-table-border);
}

.desktop-lessons-container-column {
	flex-grow: 1;
	flex-basis: 100%;
	min-width: 0;
}

.desktop-lesson {
	position: relative;
	padding-bottom: 1px;
}

.desktop-lesson:focus{
	outline: none;
	border: none;
}

.desktop-lesson .desktop-lesson-popup {
	position: absolute;
	top: 50%;
	opacity: 0;
	z-index: 120;
	pointer-events: none;
	transform: translateY(-50%);
	transition: 0.3s opacity;
}

.desktop-lesson.show-popup .desktop-lesson-popup{
	pointer-events: all;
	opacity: 1;
}

.desktop-lesson-inner-popup{
	background-color: hsl(var(--c-white));
	border-radius: 0.6rem;
	width: 25rem;
	padding: 1rem;

	box-shadow: 1px 1px 12px 2px hsl(var(--c-dark-800), 0.6);
}

.desktop-lesson-popup .lesson-type {
	grid-column-start: 2;
	width: fit-content;

	font-size: var(--fs-200);
	color: hsl(var(--c-white));
	padding: 0.2rem 1rem;
	border-radius: 5px;
	margin-bottom: 0.7rem;

	background-color: hsl(var(--type-color));
}

.desktop-lesson-inner {
	display: flex;
	align-items: stretch;

	height: 100%;
	background-color: hsl(var(--c-white));
}

.desktop-lesson-inner *{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.desktop-lesson-type{
	flex-shrink: 0;
	border-left: 0.35rem solid hsl(var(--type-color));
	margin-bottom: 1rem;
}

.desktop-lesson-info{
	padding-left: 1rem;
	padding-right: 0.5rem;
	padding-top: 0.5rem;
	margin-bottom: 0.1rem;
	overflow: hidden;
	position: relative;
}

.desktop-lesson.show-popup .desktop-lesson-info{
	background-color: hsl(var(--type-color), 0.05);
}

.desktop-lesson-info::after {
	content: '';
	width: 100%;
	height: 15px;
	position: absolute;
	bottom: 0;
	left: 0;
	background: linear-gradient(to bottom, hsl(var(--c-white), 0), hsl(var(--c-white), 1));
}

.desktop-lesson .time{
	font-weight: 700;
	font-size: var(--fs-300);
	margin-left: 0.5rem;
	color: hsl(var(--type-color));
}

.desktop-lesson-popup .time{
	font-size: var(--fs-200);
	margin-left: 0;
	color : hsl(var(--c-dark-900));
}

.desktop-lesson .lesson-heading {
	font-weight: 700;
	font-size: var(--fs-350);
	line-height: 1.5rem;
	margin-top: 0.1rem;
}

.desktop-lesson .lesson-long-name {
	font-size: var(--fs-100);
	color: hsl(var(--c-dark-400));
	line-height: 1.2rem;
	margin-top: 0.4rem;
	word-break: break-all;
}

.desktop-lesson .lesson-room {
	display: flex;

	font-size: var(--fs-300);
	line-height: 2rem;
	margin-top: 0.5rem;
	font-weight: 600;
}

.desktop-lesson .lesson-detailed-room {
	font-size: var(--fs-100);
	color: hsl(var(--c-dark-400));
	word-break: break-all;
	line-height: 1.8rem;
}

@media (min-width: 48em) {
	:root {
		--footer-height: 4rem;
	}

	.inner-body {
		display: grid;
		grid-template-rows: min-content 1fr min-content;

		height: 100vh;
		padding-bottom: 0;
	}

	main {
		flex-grow: 1;
		display: flex;
		justify-content: center;

		margin-bottom: 0;
		padding-top: 2rem;
		overflow-y: hidden;
	}

	button {
		background-color: transparent;
	}

	.about-page .header-wrapper{
		gap: 3rem;
	}

	footer {
		position: static;
		border: none;
	}
}